</body>

<footer>
    <span class="ribbon-outer">
      <span class="ribbon-inner">
        <p>Thank you for viewing.</p>
          <p>Projects by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a>.</p>
      </span>
      <span class="left-tail"></span>
      <span class="right-tail"></span>
    </span>
    <span class="octocat"></span>
    <a href="http://github.com/vchahun/site-template">Theme</a> by <a href="http://victor.chahuneau.fr">Victor Chahuneau</a></span> (<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC BY</a> license).
  </footer>

</html>